.card{
    background-color: white;
    animation: profile_in 0.8s;
    padding:10px 30px;
    
}
.cardHeading{
    font-size: 25px;
    font-weight: bolder;
}
.sectionfollwer .cardBody {
    height: 400px;
    overflow-y:scroll ;
}

h1 {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) auto minmax(50px, 1fr);
  align-items: center;
  text-align: center;
  gap: 5px;
}

h1::before, h1::after {
  content: '';
  border-top: 6px double;
}
@media (max-width: 400px) {
  h1 { font-size: 1.5rem; }
}


@keyframes profile_in{
    0%{
        opacity: 0;
        transform: translateX(30%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}