.dashboard{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboardContainer{
    width: 1200px;
    max-width: 90%;
    
}
.dashboardMain{
    
}
.userfollwer{
    width: 100%;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:835px){
    .userfollwer{
        display: flex;
        flex-direction: column;
    }
}